/* -----------import du style de la police------------*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,300&display=swap');  




main {
    font-size: larger;
}



button {
    border-radius: 15px;
}

img {
    width: 1.5vw;
    height: auto;
}

hr {
    width: 40vw;
    margin: 7vh auto;
    border: 1.1px solid black;
}


/* ------------ Barre d'ajout de taches -----------*/

.task_add {
    display: flex;
    margin: 0 auto;
}

.task_add input {
    border-radius: 10px;
    margin: auto;
    
}

#search {
    position: absolute;
    margin: 0.7vh 65vw;
    display: flex;
}

#addLine {
    width: 30vw;
    height: 5vh;
    text-align: center;
}


#request {
    position: absolute;
    margin-left: 49.2vh;
    padding-top: 0.4vh;
    border: grey 1px;
}



h1 {
    text-align: center;
    margin-bottom: 10vh;
}





/* ----------Taches faite / à faire -----------*/

#aFaire li {
    border-radius: 15px;
    background-color: rgb(222, 222, 222);
    display: flex;
    width: 30vw;
    height: 5vh;
    margin: 1vh auto;

}#fait li {
    border-radius: 15px;
    background-color: rgb(222, 222, 222);
    display: flex;
    width: 30vw;
    height: 5vh;
    margin: 1vh auto;

}

#task_undone, #task_done ul{
    
}

#fait {
    text-decoration: line-through;
    font-style: italic;
    color: grey;
}

.texte {
    width: 3vw;
    margin-top: 1vh;
    margin-left: 5vw;
}

.btnDelete {
    position: absolute;
    margin-top: 0.4vh;
    margin-left: 0.2vw;
    margin-right: 1vw;
}

.textTask {
    width: 30vw;
    margin: auto ;
    padding-left: 15px;
}
/* -----------Réglage personnalisation couleur background------------ */

#nav-color {
    position: fixed;
    top: 0;
    right: 0px; 
}

.deroulant {
    margin-right: 20px;
}

.reglage {
    margin-top: 2vh;
    margin-left: 94vw;
}

.sous-menu {
    display: none;
    list-style: none;
    padding: 0;
    
}

nav > ul li:hover .sous-menu {
    display: block;
}

ul {
    list-style: none;
}

a:visited {
    color: black;
}